.landing__header {
  background-color: var(--color-pink);
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px 1px var(--color-red-dark);
}

.category {
  height: 130px;
  box-shadow: 0 4px 10px 1px #eee;
  display: flex;
}

.category__text-group {
  flex-basis: 68%;
}

.category__icon-box {
  flex-basis: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  background-color: var(--color-orange-one);
}

.profile-info {
  margin: 0 0 0 120px;
}

.health {
  background-color: var(--color-orange-two);
}

.work {
  background-color: var(--color-red);
}

.legal {
  background-color: var(--color-blue);
}

.category__heading {
  font-family: var(--font-futura);
  font-size: 25px;
  color: #fff;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 55px;
  margin-bottom: 9px;
}

.category__description,
.category__subheading {
  font-family: var(--font-roboto);
  font-size: 12px;
  color: #fff;
  letter-spacing: 2px;
  margin: 0;
}

.category__line-break {
  height: 1px;
  width: 100%;
  background-color: var(--color-orange-one-dark);
  display: block;
  margin: 9px 0;
}

.registration-wrapper,
.login-wrapper {
  display: none;
}
