.emergency-numbers {
  background-color: var(--color-orange-two);
}

.emergency-numbers__button {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 100%;
  justify-content: center;
  font-family: var(--font-roboto);
  color: white;
  letter-spacing: 1px;
}

.map {
  height: calc(100vh - 120px);
} 

.map__frame {
  height: calc(100vh - 120px);
  width: 100%;
  box-sizing: border-box;
  border: none;
}

.modal__content {
  font-family: var(--font-roboto);
  height: 85%;
}

button {
  cursor: pointer;
}
