.text {
  font-family: var(--font-roboto);
  font-size: 12px;
  color: #000;
  letter-spacing: 2px;
  margin: 30px;
}

.button {
  background-color: var(--color-blue);
  font-family: var(--font-futura);
  margin: 25px;
  box-sizing: border-box;
  color: #fff;
  font-size: 10px;
  padding: 15px;
  border: none;
  position: relative;
  z-index: 5;
  display: inline-block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.header__box{

} 

.header__title{
    
} 

.header__subhead{
    
} 